@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

#body-main {
    background-image: url("https://www.thespruce.com/thmb/QUT04QWaIUuqCS4fGWRy4sFl1uY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Beaconsfield6520-b8e633f0caf14f75b4228433bcfe33ef.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    padding: 16px;
    margin-bottom: 20px;
}

footer {
    background-color: #3D5A73;
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 40px;
    margin-bottom: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer > div {
    font-size: 16px;
}

img {
    height: 200px;
}

nav {
    background-color: #00BBC9;
    border-bottom-style: solid;
    border-color: #2F3D40;
    border-width: 1px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

nav > a {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #164773;
}

a:hover {
    color: #F2059F;
}

h1 {
    color: #BF046B;
    text-shadow: 1px 1px 1px #aa025e;
    animation-duration: 2.5s;
    animation-name: slidein;
}

h2 {
    text-shadow: 1px 1px 1px #706F73;
    animation-duration: 2.75s;
    animation-name: slidein;
}

h3 {
    text-shadow: 1px 1px 1px #3D5A73;
    font-variant: small-caps;
}

tr:nth-child(even) {
    background-color: #D7D7D9;
}

.recipe-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    animation-duration: 3s;
    animation-name: slidein;
}

.recipe-list > div {
    background-color: rgba(255, 255, 255, 0.959);
    margin-right: 16px;
    margin-bottom: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
}

.detail-style {
    animation-duration: 2.75s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
      }

      to {
        margin-left: 0%;
        width: 100%;
      }
}
